{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  <div class="underline"></div>
</header>
<div class="grid_parent">
  <p>
    Rizin has a growing and diverse community that is welcoming to people of all skill levels.
  </p>
  <p>
    Here are some ways to get involved:
  </p>
</div>
<div class="grid_parent">
  <h1 class="mb-15 page-subtitle">Connect</h1>
  <div class="teams-section">
    <div class="team-item">
      <div>
        <h3><mark>Mattermost</mark></h3>
        <p>
          Here, we have separate channels for different teams, sub-projects and development topics.
        </p>
      </div>
      <div class="btn-team-members">
        <a class="site-button btn-secondary" href="https://im.rizin.re/login">Join us on Mattermost</a>
      </div>
    </div>
    <div class="team-item">
      <div>
        <h3><mark>Telegram</mark></h3>
        <p>
          This is your place to have discussions about Rizin, ask questions and get support.
        </p>
        <p>
          This is bridged to the General channel of Mattermost.
        </p>
      </div>
      <div class="btn-team-members">
        <a class="site-button btn-secondary" href="https://t.me/rizinorg">Join us on Telegram</a>
      </div>
    </div>
    <div class="team-item">
      <div>
        <h3><mark>IRC</mark></h3>
        <p>
          On Freenode (IRC), you can join #rizin for general discussions and #rizindev for questions related to development. 
        </p>
        <p>
          Both are bridged to the General channel and Rizin Dev channel on Mattermost.
        </p>
      </div>
      <div class="btn-team-members">
        <a class="site-button btn-secondary" href="irc.freenode.net">Join us on IRC </a>
      </div>
    </div>
  </div>
</div>
<div class="grid_parent">
  <h1 class="mb-15 page-subtitle">Social</h1>
  <div class="teams-section">
    <div class="team-item">
      <div>
        <h3><mark>Twitter</mark></h3>
        <p> 
          Join us on Twitter for release announcements and much more.
        </p>
      </div>
      <div class="btn-team-members">
        <a class="site-button btn-secondary" href="https://twitter.com/rizinorg">Follow us on Twitter</a>
      </div>
    </div>
  </div>
</div>
<div class="grid_parent">
  <h1 class="mb-15 page-subtitle">Learn</h1>
  <div class="teams-section">
    <div class="team-item">
      <div>
        <h3><mark>The Official Rizin Book</mark></h3>
        <p>
          For a quick getting started guide and to learn more on how to use Rizin in detail, you can read the Rizin Book.
        </p>
      </div>
      <div class="btn-team-members">
        <a class="site-button btn-secondary" href="http://book.rizin.re">Read about Rizin</a>
      </div>
    </div>
  </div>
</div>

{{- end }}{{/* end main */}}
