@font-face {
  font-family: Agave;
  src: url(/fonts/Agave-Regular.ttf);
}

/* ==== THEME VARIABLES ==== */

:root {
  --entry: #f0f0f0;
  --purple-strong: #5e50c5;
  --theme: var(--purple-strong);
  --subtitle-color: #fad000;
  --button-primary: #281b5c;
  --main: #fff;
  --main-title: #edb11d;
  --title-tertiary: var(--purple-strong);
  --alternate: #35276f;
  --alternate-strong: var(--purple-strong);
  --mark: #ffbf59;
  --purple: #fad000;
  --footer: #fff;
}

.dark {
  --theme: #222244;
  --main: #333160;
  --button-primary: #5d37f0;
  --subtitle-color: #fad000;
  --title-tertiary: #fff;
  --alternate: #4d30ba;
  --mark: #5d37f0;
  --footer: var(--theme);
  --entry: #41417c;
  --code-bg: #5139b1;
  --purple: var(--purple-strong);
  --alternate-strong: #fad000;
}

.list {
  background: var(--theme);
}

.nav a {
  color: #fff;
}
.menu a:hover {
  color: #fff;
}

/* Padding helpers */

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

/* Margin helper */

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

/* Support full width for the main page*/
.main {
  grid-template-rows: 300px;
  max-width: none;
  background: var(--main);
  padding: 0 12.5vw 0;
}

/* Override */
.header {
  padding-top: 10px;
}

/* Override */
.footer {
  max-width: 100%;
  background-color: var(--footer);
}

/* Override */
.post-header {
  margin: 0;
  padding-top: 50px;
}

.hero-section {
  height: 90vh;
  padding: 0 var(--site-inner-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.hero-section__top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-section__title {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 100px;
  margin: 0;
  font-family: Agave;
  color: var(--main-title);
}

.hero-section__subtitle {
  font-weight: 400;
  color: var(--subtitle-color);
  margin: 25px 0;
}

.hero-section__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}

.hero-section__separator {
  background-color: var(--purple);
  line-height: 2;
  text-align: center;
}

.hero-section__separator a {
  border-bottom: 3px solid var(--alternate-strong);
  font-weight: 600;
}

.hero-section img {
  border-radius: 0%; /* override */
  margin-bottom: 25px;
  max-height: 150px;
}

.site-button {
  min-width: 200px;
  height: 40px;
  color: white;
  background-color: #41417c;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.site-button.btn-primary {
  background-color: var(--button-primary);
}

.preview-section__feature .site-button {
  margin-top: 30px;
}

.site-button:hover {
  background-color: var(--alternate);
}

.site-button.btn-secondary:hover {
  background-color: #464696;
}

.site-button i {
  margin-right: 10px;
}

.preview-section {
  padding-top: 50px;
  display: grid;
  gap: 80px;
  line-height: 1.75;
}

.preview-section h2 {
  line-height: 1.2;
  margin-bottom: 15px;
}

.preview-section__feature {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.preview-section__feature > img {
  border-radius: unset;
  padding: 30px;
}

.preview-section__feature__code:first-of-type {
  text-align: center;
}

.preview-section__feature .preview-section__feature__code {
  grid-row-start: 1;
}

.preview-section__feature .preview-section__feature__description {
  grid-row-start: 2;
  text-align: center;
  margin: auto;
}

.preview-section__feature__code {
  width: 100%;
  object-fit: cover;
}

.more-info-section {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 var(--site-inner-padding);
}

.more-info-section .site-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.more-info-section i {
  margin-right: 15px;
}

.main p > a {
  font-weight: 600;
  border-bottom: 2px solid var(--alternate-strong);
}

.site-footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

@media (min-width: 768px) {
  .hero-section {
    height: 50vh;
  }

  .hero-section__top {
    flex-direction: row;
  }

  .hero-section img {
    flex-direction: row;
    margin-right: 20px;
  }

  .preview-section__feature {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .preview-section__feature .preview-section__feature__description {
    grid-row-start: 1;
    text-align: initial;
  }

  .preview-section__feature:nth-child(2) .preview-section__feature__description {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .preview-section__feature:nth-child(2) .preview-section__feature__code {
    grid-column-start: 2;
  }

  .team-item mark,
  .team-title mark {
    display: inline-block;
    padding-bottom: 16px;
  }
}

.horizontal-line {
  margin: 40px 0;
  color: #5b588f;
}

.auto-inner-margin {
  margin: 0 auto;
}

.info-icon {
  color: var(--subtitle-color);
}

.community-section {
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.community-icon {
  margin-right: 15px;
  vertical-align: middle;
}
.community-icon svg {
  fill: #464696;
}

.community-icon svg:hover {
  fill: var(--purple-strong);
  -webkit-filter: drop-shadow(4px 4px 0px rgb(255, 157, 0));
  filter: drop-shadow(4px 4px 0px rgb(255, 157, 0)); /* Same syntax as box-shadow */
}

/* Grid spacing */
.grid_parent {
  --spacing: 0.5rem;
  padding: var(--spacing);
}

@media (min-width: 48em) {
  /* 768px */
  .grid_parent {
    --spacing: 1.35rem;
  }
}

.teams-section {
  display: grid;
  row-gap: 60px;
}

@media (min-width: 768px) {
  .teams-section {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}

@media (min-width: 1280px) {
  .teams-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Grid item */
.team-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-item .site-button {
  width: 100%;
}

.page-header {
  padding-top: 50px;
  display: inline-block;
}

.page-header .underline {
  height: 12px;
  position: relative;
  top: 1px;
  left: -10px;
  width: 120%;
  max-width: 90vw;
  line-height: 1.6;
  border-radius: 2px;
  background-color: var(--mark);
}

.team-item h3 {
  margin-bottom: 10px;
  font-weight: 700;
}

.team-title h2 {
  padding-top: 50px;
}

.team-item mark,
.team-title mark {
  color: var(--primary);
  font-size: 24px;
  line-height: 0.01px;
  background-color: var(--mark);
}

.btn-team-members {
  margin-top: 20px;
}

.team-members {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.team-members__member {
  display: flex;
  flex-direction: row;
  width: 45%;
  margin-bottom: 2rem;
  background: var(--entry);
  margin: 10px 10px 10px 0;
  padding: 5px;
}

.team-members__member__profile {
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
}

.team-members__member__image {
  width: 100%;
  height: 100%;
}

.team-members__member__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}

.team-members__member__details li {
  list-style: none;
  color: var(--title-tertiary);
}

.team-members__member__details li > i {
  margin-right: 10px;
}
.team-members__member__details li > a {
  border-bottom: 1px dashed;
  padding-bottom: 2px;
}

.team-members__member__details li > a:hover {
  color: var(--alternate-strong);
}
